<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="extension_gazebo" params="robot_name">
    
    <!-- carrello KUKA -->
    <gazebo reference="${robot_name}">
      <material>Gazebo/White</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>
  </xacro:macro>

</robot>

